<form class="form-horizontal" ng-controller="ItemsController" role="form">
    
        <label for="inputName3" class="col-sm-2 control-label">Name</label>
        <input class="form-control" id="inputName3" placeholder="Name" ng-model="item.Name">
        <span ng-show="nameRequired">{{nameRequired}}</span>
    
        <label for="inputEmail3" class="col-sm-2 control-label">Description</label>
        <input class="form-control" id="inputEmail3" placeholder="Description" ng-model="item.Description">
        <span ng-show="emailRequired">{{emailRequired}}</span>
   
        <label for="inputPassword3" class="col-sm-2 control-label"></label>
        <input type="date" class="form-control" id="inputPassword3" placeholder="CheckedDate" ng-model="item.CheckedDate">
        <span ng-show="passwordRequired">{{passwordRequired}}</span>
   
     <div class="form-group">
        <div>
            <button type="submit" ng-click="EditItem(item)" class="btn btn-success">Edit</button>
        </div>
    </div>
</form>
