
<div>
    <label> {{item.Name}} </label>
    <label>{{item.Description}}</label>
    <label>{{document.write(day[item.CheckedDate.getDay()]+" " +item.CheckedDate.getDate()+ " " + month[item.CheckedDate.getMonth()]+ " " + item.CheckedDate.getFullYear() + " г.");}}</label>
    <label>{{item.IsChecked}}</label> 
    <button ng-click="CheckItem({{item.Id}})"> Check </button>
    <button ng-click="RemoveItem({{item.Id}})"> Remove </button>
</div>