
<div>
    <label> {{item.Name}} </label>
    <label>{{item.Description}}</label>
    <label>{{item.CheckedDate.getDate()}}</label>
    <label>{{item.IsChecked}}</label> 
    <button ng-click="CheckItem(item)"> Check </button>
    <button ng-click="RemoveItem(item)"> Remove </button>
</div>