
<div>
    {{item.Name}} {{item.Description}} {{item.CheckedDate}} {{item.IsChecked}} 
    <button ng-click="CheckItem({{item.Id}})"> Check </button>
    <button ng-click="RemoveItem({{item.Id}})"> Remove </button>
</div>