
    <td> {{item.Name}} </td>
    <td>{{item.Description}}</td>
    <td>{{item.CheckedDate}}</td>
    <td>{{item.IsChecked}}</td> 
    <td><button class="btn btn-warning" ng-click="CheckItem(item)"> Check </button></td="info">
    <td><button class="btn btn-danger" ng-click="RemoveItem(item)"> Remove </button></td>
