
@{
    ViewBag.Title = "Registration";
}

<html ng-app="RegisApp">
<head>
    <meta charset="utf-8">
</head>
<body>
    <div>
        <div>
            <h3>Форма reg</h3>
            <form class="form-horizontal" ng-controller="RegistrationController" role="form">
                <div class="form-group">
                    <label for="inputName3" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-4">
                        <input class="form-control" id="inputName3" placeholder="Name" ng-model="User.Name">
                    </div>
                    <span ng-show="nameRequired">{{nameRequired}}</span>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-4">
                        <input class="form-control" id="inputEmail3" placeholder="Email" ng-model="User.Email">
                    </div>
                    <span ng-show="emailRequired">{{emailRequired}}</span>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="User.Password">
                    </div>
                    <span ng-show="passwordRequired">{{passwordRequired}}</span>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" ng-click="saveData()" class="btn btn-success">Sign up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="~/Scripts/angular.min.js"></script>
    <script type="text/javascript">
        angular.module('RegisApp', []);
    </script>
    <script src="~/Scripts/ScriptsForView/RegistrationController.js"></script>
    </body>
</html>

