@model ToDoList.Models.User

@{
    ViewBag.Title = "UsersToDoList";
}
<html ng-app="ToDoListApp">
<head>
    <meta charset="utf-8">
</head>
<body>
    <h2>UsersToDoList</h2>
    <div>
        <h3>Users name: @Model.Name</h3>
        <h3>Users email: @Model.Email</h3>
        <h3>Users id: @Model.Id</h3>
    </div>

    <div ng-controller="ItemsController">
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>CheckedDate</th>
                <th>IsChecked</th>
                <th>Check</th>
                <th>Remove</th>
            </tr>
            <tr ng-repeat="item in Items">
                @{Html.RenderPartial("ItemView");}
            </tr>
        </table>
        <div>
            @{Html.RenderPartial("CreateItemView");}
        </div>
    </div>
    <script src="~/Scripts/angular.min.js"></script>
    <script type="text/javascript">
        angular.module('ToDoListApp', []);
    </script>
    <script src="~/Scripts/ScriptsForView/ItemsController.js"></script>
</body>
</html>


